{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container_wrap">
        {% include 'mainapp/includes/inc_header.html' %}
        <div class="content">
            <div class="movie_top">
                <div class="col-md-9 movie_box">
                    <div class="grid images_3_of_2">
                        <div class="movie_image">
                            <span class="movie_rating">5.0</span>
                            <img src="{{ movie.poster.url }}" class="img-responsive" alt="" />
                        </div>
                        <div class="movie_rate">
                            <div class="rating_desc">
                                <p>Your Vote :</p>
                            </div>
                            <form action="" class="sky-form">
                                <fieldset>
                                    <section>
                                        <div class="rating">
                                            <input type="radio" name="stars-rating" id="stars-rating-5">
                                            <label for="stars-rating-5"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-4">
                                            <label for="stars-rating-4"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-3">
                                            <label for="stars-rating-3"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-2">
                                            <label for="stars-rating-2"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-1">
                                            <label for="stars-rating-1"><i class="icon-star"></i></label>
                                        </div>
                                    </section>
                                </fieldset>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="desc1 span_3_of_2">
                        <p class="movie_option"><strong>Название: </strong>{{movie.title}}</p>
                        <p class="movie_option"><strong>Слоган: </strong>{{movie.tagline}}</p>
                        <p class="movie_option"><strong>Категория: </strong> {{movie.category}}</p>
                        <p class="movie_option"><strong>Страна: </strong>{{movie.country}}</p>
                        <p class="movie_option"><strong>Режиссеры: </strong>
                            {% for director in movie.directors.all %}
                            <a href="{{ director.get_absolute_url }}">{{ director.name }}</a>
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Актеры: </strong>
                            {% for actor in movie.actors.all %}
                            <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a>
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Жанры: </strong>
                            {% for genre in movie.genres.all %}
                            {{ genre.name }}
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Год выпуска: </strong>{{movie.year}}</p>
                        <p class="movie_option"><strong>Мировая премьера: </strong>{{ movie.world_premiere }}</p>
                        <p class="movie_option"><strong>Бюджет: </strong>{{ movie.budget }}</p>
                        <p class="movie_option"><strong>Сборы в США: </strong>{{ movie.fees_in_usa }}</p>
                        <p class="movie_option"><strong>Сборы в мире: </strong>{{ movie.fees_in_world }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="m_4">{{ movie.description|safe }}</p>
                    <form method="post" action="{% url 'add_review' movie.id %}" id="formReview">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent">
                        <div class="to">
                            <input type="text" class="text" name="name" value="Name" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" name="email" value="Email" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:3%">
                        </div>
                        <div class="text">
                            <textarea value="Message:" name="text" id="contactcomment" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                        </div>
                        <div class="form-submit1">
                            <input name="submit" type="submit" id="submit" value="Submit Your Message"><br>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <div class="single">
                        <h1>{{ movie.reviews_set.count }} комментариев</h1>
                        {% for review in movie.get_review %}
                        <ul class="single_list">
                            <li>
                                <div class="preview"><a href="#"><img src="{% static 'images/2.jpg' %}"
                                            class="img-responsive" alt=""></a>
                                </div>
                                <div class="data">
                                    <div class="title">{{ review.name }} / 2 hours ago / <a href="#">reply</a></div>
                                    <p>{{ review.text }}</p>
                                </div>
                                <a href="#formReview"
                                    onclick="addReview('{{ review.name }}','{{ review.id }}')">Ответить</a>
                                <div class="clearfix"></div>
                            </li>
                            {% for rev in review.reviews_set.all %}
                            <li class="middle">
                                <div class="preview"><a href="#"><img src="{% static 'images/2.jpg' %}"
                                            class="img-responsive" alt=""></a>
                                </div>
                                <div class="data-middle">
                                    <div class="title">{{ rev.name }} / 2 hours ago / <a href="#">reply</a></div>
                                    <p>{{ rev.text }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% for image in movie.movieshots_set.all %}
                    <div class="movie_img">
                        <div class="grid_2">
                            <img src="{{ image.image.url}}" class="img-responsive" alt="">
                            <p class="m_2">{{ image.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function addReview(name, id) {
        document.getElementById('contactparent').value = id;
        document.getElementById('contactcomment').innerText = `${name},`;
    }
</script>
{% endblock content %}