{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container_wrap">
        {% include 'mainapp/includes/inc_header.html' %}
        <div class="content">
            <div class="movie_top">
                <div class="col-md-9 movie_box">
                    <div class="grid images_3_of_2">
                        <div class="movie_image">
                            <span class="movie_rating">5.0</span>
                            <img src="{{ movie.poster.url }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="movie_rate">
                            <div class="rating_desc"><p>Your Vote :</p></div>
                            <form action="" class="sky-form">
                                <fieldset>
                                    <section>
                                        <div class="rating">
                                            <input type="radio" name="stars-rating" id="stars-rating-5">
                                            <label for="stars-rating-5"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-4">
                                            <label for="stars-rating-4"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-3">
                                            <label for="stars-rating-3"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-2">
                                            <label for="stars-rating-2"><i class="icon-star"></i></label>
                                            <input type="radio" name="stars-rating" id="stars-rating-1">
                                            <label for="stars-rating-1"><i class="icon-star"></i></label>
                                        </div>
                                    </section>
                                </fieldset>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="desc1 span_3_of_2">
                        <p class="movie_option"><strong>Название: </strong>{{movie.title}}</p>
                        <p class="movie_option"><strong>Слоган: </strong>{{movie.tagline}}</p>
                        <p class="movie_option"><strong>Категория: </strong> {{movie.category}}</p>
                        <p class="movie_option"><strong>Страна: </strong>{{movie.country}}</p>
                        <p class="movie_option"><strong>Режиссеры: </strong>
                            {% for director in movie.directors.all %}
                                {{ director.name }}
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Актеры: </strong>
                            {% for actor in movie.actors.all %}
                                {{ actor.name }}
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Жанры: </strong>
                            {% for genre in movie.genres.all %}
                                {{ genre.name }}
                            {% endfor %}
                        </p>
                        <p class="movie_option"><strong>Год выпуска: </strong>{{movie.year}}</p>
                        <p class="movie_option"><strong>Мировая премьера: </strong>{{ movie.world_premiere }}</p>
                        <p class="movie_option"><strong>Бюджет: </strong>{{ movie.budget }}</p>
                        <p class="movie_option"><strong>Сборы в США: </strong>{{ movie.fees_in_usa }}</p>
                        <p class="movie_option"><strong>Сборы в мире: </strong>{{ movie.fees_in_world }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="m_4">{{ movie.description }}</p>
                    <form method="post" action="{% url 'add_review' movie.id %}">
                        {% csrf_token %}
                            <div class="to">
                                <input type="text" class="text" name="name" value="Name" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Name';}">
                                <input type="text" class="text" name="email" value="Email" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:3%">
                            </div>
                            <div class="text">
                                <textarea value="Message:" name="text" onfocus="this.value = '';"
                                          onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                            </div>
                            <div class="form-submit1">
                                <input name="submit" type="submit" id="submit" value="Submit Your Message"><br>
                            </div>
                            <div class="clearfix"></div>
                    </form>
                    <div class="single">
                        <h1>10 Comments</h1>
                        <ul class="single_list">
                            {% for review in movie.reviews_set.all %}
                            <li>
                                <div class="preview"><a href="#"><img src="images/2.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="data">
                                    <div class="title">{{ review.name }} / 2 hours ago / <a href="#">reply</a></div>
                                    <p>{{ review.text }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                            <li class="middle">
                                <div class="preview"><a href="#"><img src="images/5.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="data-middle">
                                    <div class="title">Wernay / 2 hours ago / <a href="#">reply</a></div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas.</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="last-comment">
                                <div class="preview"><a href="#"><img src="images/6.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="data-last">
                                    <div class="title">mr.dev / 2 hours ago / <a href="#">reply</a></div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                        minim veniam, quis nostrud exerci tation ullamcorper suscipit </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    {% for image in movie.movieshots_set.all %}
                    <div class="movie_img">
                        <div class="grid_2">
                            <img src="{{ image.image.url}}" class="img-responsive" alt="">
                            <p class="m_2">{{ image.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}