{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=DM+Sans&family=Fira+Sans&display=swap"
          rel="stylesheet">
    {% endblock css %}
</head>
<body>
<div class="container">
    {% block header %}
    {% include 'mainapp/inc/inc_header.html' %}
    {% endblock header %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>